body {
  font-size: 24px;
  background-color: rgb(2, 20, 41);
}

.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
main {
  max-width: 1280px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: relative;
  background-color: #282c34;
  /* min-height: 100vh; */
}

.App-link {
  color: #61dafb;
}

.animation-container {
  background-color: red;
}
.level-animation-container {
  position: relative;
  background-color: #282c34;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.intro-heading {
    position: absolute;
    z-index: 150;
    left: 0;
    right: 0;
    width: 40%;
    top: 15%;
    margin: auto;
}

.intro-heading-totalbonus {
  font-size: 28px;
  color: yellow;
  font-weight: lighter;
}
.intro-heading-title {
  color: #fff;
  font-size: 34px;
  font-weight: bolder;
  display: none;
}
.intro-heading-logo img {
  max-width: 200px;
  display: none;
}


.chests {
  display: flex;
  position: absolute;
  z-index: 100;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  /* scale: 1.3; */
  /* padding-left: 100px;
  padding-right: 100px;
  margin-left: -50px;
  margin-right: -50px; */
}
.chests-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin-left: 120px;
  margin-right: 120px;
}
.chest-wrapper {
  display: flex;
  align-items: end;
  margin-top: 100px;
}
.chest-wrapper .points {
  /* background-color: greenyellow; */
  color: #da0303;
  font-size: 34px;
  /* transform: translateY(-430px); */
  opacity: 0;
  display: block;
  transition:  transform 0.5s ease 0.5s, opacity 0.5s ease-out 0.5s;
  z-index: 100;
  padding-right: 37px;
  font-weight: bolder;
  text-align: center;
}
.chest-wrapper .points.show{ 
  transform:  translateY(-290px);
  
  display: block;
  /* margin-top: 200px; */
  opacity: 1;
}
.chest-wrapper .hide  .finger-container {
  opacity: 0;
}
.chest-wrapper .finger-container {
  transition: opacity 0.5s ease-out 0.3s;
}
.kovcheg-anim_full {
  bottom: 0;
}
.chest {
  /* background-color: red;   */
  /* position: absolute;   */
  /* width: 30%; */
  scale: 1.3;
  /* bottom: -90px; */
  margin-bottom: -5px;
  position: relative;
}
.chest  .false {
  display: none;
}
.k1 {
  /* position: absolute; */
  /* left: 10%; */
  z-index: 1;
  /* width: 30%; */
  /* scale: 0.8; */
}
.k2 {
  /* position: absolute; */
  /* left: 34%; */
  z-index: 3;
  /* scale: 0.8; */
}
.k3 {
  /* position: absolute; */
  /* left: 57%; */
  /* scale: 0.8; */
  z-index: 2;
}
.finger-container {
  position: absolute;
  scale: 0.8;
  top: 0;
  left: 40%;
}

.button_next {
  position: absolute;
  bottom: 0px;
  right: 10px;
  padding: 30px 50px;
  z-index: 200;
  max-width: 30%;
}
.button_getbonus {
  
}
.button_check_account {
  width: 100%;
  position: absolute;
  bottom: 20px;
  right: 0px;
  left: 0;
  padding: 30px 50px;
  z-index: 200;
  text-align: center;
}
.button_getbonus,
.button_start {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0px;
  left: 0;
  padding: 10px 20px;
  z-index: 200;
  text-align: center;
}
.button_getbonus img,
.button_start img {
  max-width: 240px;
}
.button_check_account img {
  max-width: 340px;
}
.welcome-scr-animation-container .btn{
  position: absolute;
  text-align: center;
  bottom: 10px;
  left: 0;
  right: 0;
}
.start_btn {
  opacity: 0;
  transform: translateY(300px);
  transition: all 0.5s ease;
}
.start_btn.show {
  opacity: 1;
  transform: translateY(0);
}

.start_btn {
  max-width: 310px;
}
.c-container {
  position: relative;

}
.c-container .finalPoints {
  font-size: 35px;
  color: rgb(0,38,82);
  font-weight: bolder;
  position: absolute;
  top: 24%;
  z-index: 300;
  left: 0;
  right: 0;
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.btn {
  background-color: transparent;
  border: none;
}
.btn img {
  width: 100%;
  height: auto;
}
